<!DOCTYPE html>

<!-- Template for class ISM 5994 by Alexander Grondin -->

<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
	<title>Forward Fitness Club </title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
    <div id="container">
	<!-- Header for the name and/or logo of the website -->
	<header>
		<a href="index.html"> <img src="images/ffc_logo.png" alt="Forward Fitness Club logo"> </a>
	</header>
	
	<!-- Add hyperlinks for internal movement between pages of the website -->
	<nav>
        <ul>
		    <li> <a href="index.html"> Home </a> </li>
		    <li> <a href="about.html"> About Us </a> </li>
		    <li> <a href="class.html"> Classes </a> </li>
		    <li> <a href="nutrition.html"> Nutrition </a> </li>
		    <li> <a href="contact.html"> Contact Us </a> </li>
        </ul>
	</nav>
	
	<!-- Primary content of the website that aligns with its purpose -->
	<main>
	
	</main>
	
	<!-- For the footer of the website -->
	<footer>
		&copy; Copyright 2020. All Rights Reserved. <br>
		<a href="mailto:forwardfitness@club.net"> forwardfitness@club.net </a>
	</footer>
	
    </div>
</body>
</html>
